* @hiryamada

# https://docs.github.com/ja/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# https://qiita.com/FumiyaShibusawa/items/c7a3ff4d0793ca2d281f
